:root{
    --nav-background-color: #DC144F;
    --nav-text-color: #fff;
    --main-background-color: #e7e5e4;
    --item-background-color: #fafaf9;
    --hover-item-color:#c50b46;
    --container-items-color:#fb3868;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Three rows: header, main content, footer */
}

header {
    grid-row: 1; /* Header takes the first row */
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    border-bottom: black 2px solid;
}

.header-title {
    font-size: 2.2rem;
    margin: 0.5rem;
    flex-grow: 1; /* Allow the title to grow and take the available space */
}

#menuBtn{
    background-color: inherit;
    cursor: pointer;
    border: 0;
}


#menuBtn img{
    height: 25px;
    width: 25px;
}


.sidebar-hidden {
    transform: translateX(-100%); /* Move the sidebar off-screen */
}


/* Navigation bar */

nav {
    transition: transform 0.3s ease; /* Adding transition for smoother animation */
    transform: translateX(0); /* Initial position */
    transform: translateY(0);
}

#navigation-bar {
    background-color: var(--nav-background-color);
    max-width: 330px; /* Set the width of the sidebar */
    width: calc(60% - 40px); /* 40px is padding from both sides */
    position: static; /* Fixed position so it stays in place */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px;
}

#navigation-bar  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 0;
}

#navigation-bar  ul li a {
    display: block;
    color: var(--nav-text-color);
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}


#navigation-bar  ul li a:hover {
    background-color: var(--hover-item-color);
}

#add-project-btn{
    margin-top: 10px;
    padding-inline: 15px;
    list-style-type: none;
    width: 100%;
    height: 45px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    background-color: inherit;
}

#add-project-btn:hover {
    background-color: var(--hover-item-color);  
}

#add-project-btn span{
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--nav-text-color);
}


#add-project-btn span img{
    width: 30px;
    height: 30px;
    margin-right: 35px;
    color: var(--nav-text-color);
    border: black solid 3px;
    border-radius: 50%;
}

.project{
    display: flex;
    justify-content: space-between;
    color: var(--nav-text-color);
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
}

.project:hover{
    background-color: var(--hover-item-color); 
}


/* Creating new project */
.creating-project{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4.5rem;
    align-items: center;
    justify-content: space-around;
}

.new-project-title{
    height: 1.5rem;
    width: 90%;
}

.creating-project-btns{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    width: 90% ;
}

.creating-project-btn{
    height: 1.5rem;
    width: 50%;
    color: black;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.creating-project-btn:first-child{
    background-color: rgb(42, 189, 103);
}

.creating-project-btn:last-child{
    background-color: rgb(225, 165, 21);
}

.navigation-title{
    font-size: 30px;
    font-weight: bold;
    border-bottom: black 2px solid;
    margin-block: 15px;
}


/* Main */

main {
    grid-row: 2/3; /* Main content takes the second row */
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: row;
    width: 100%;
}

#content{
    display: flex;
    flex-direction: column;
    margin-inline: 3rem;
    margin-block: 1.5rem;
    width: 100%;
    background-color: var(--main-background-color);
}

#project-title{
    font-size: 3rem;
    margin: 0;
    padding: 1.2rem;
    border-radius: 5px;
    max-height: 4rem;
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
}

.task-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block: 1.5rem;
    padding-inline: 0.8rem;
    min-width:420px ;
    border-radius: 5px;
    background-color: var(--nav-background-color);
}

.task-container .left-side{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
}


.task-container .right-side{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.6rem;
    align-items: center;
}



.task-checkbox {
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

/* All checked elements */

.checked{
    opacity: 0.6;
}

.checked > .task-checkbox{
    background-color: var(--container-items-color);
    background-size: 100%;
    background-image: url(../assets/check-mark.svg);
    background-repeat: no-repeat;
    background-origin:border-box ;
}

.checked > .task-title{
    text-decoration: line-through;
}

/* Importants  */
.importantBtn{
    background-image: url(../assets/star.svg);
    height: 1.2rem;
    width: 1.2rem;
    background-repeat: round;
    background-origin:border-box ;
    cursor: pointer;
}

.important{
    background-image: url(../assets/star_filled.svg);
}

/* other task buttons */
.task-editBtn{
    background-image: url(../assets/edit.svg);
    height: 1.2rem;
    width: 1.2rem;
    background-repeat: round;
    background-origin:border-box ;
    cursor: pointer;
}

.task-deleteBtn{
    background-image: url(../assets/delete.svg);
    height: 1.2rem;
    width: 1.2rem;
    background-repeat: round;
    background-origin:border-box ;
    cursor: pointer;
}

.task-details{
    font-size: 0.9rem;
    padding: 5px;
    border-radius: 5px;
    border: black solid 1px;
    cursor: pointer;
}

.task-date{
    font-size: 0.9rem;
    padding: 5px;
    border-radius: 5px;
    border: black solid 1px;
}

.task-date-expose{
    background-color: var(--nav-background-color);
    color: white;
}


#task-adding-btn{
    position: fixed;
    bottom: 15px; /* This will be adjusted dynamically */
    right: 10px;
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease; /* Smooth transition for bottom positioning */
}


#task-adding-btn > img{
    width: 100%;
    height: 100%;
}


/* New Task */
.overlay-new{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    opacity: 1;
    transition: all .3s;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.overlay-new-invisible{
    visibility: hidden;
    opacity: 0;
}

.create-task-container{
    position: relative;
    visibility: hidden;
    height: 30rem;
    width: 55rem;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
    background-color: var(--item-background-color);
    display: flex;
    flex-flow: column nowrap;
    transform: scale(0);
}

.create-task-container-open{
    transform: scale(1);
    visibility: visible;
}

.create-task-container-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--nav-background-color);
    color: var(--item-background-color);
}

.create-task-container-title{
    padding: 10px;
    margin: 0;
}

.create-task-container-closer{
    align-content: center;
    text-align: center;
    font-size: 2.5rem;
    cursor: pointer;
    width: 3rem;
}

.create-task-container-content{
    background-color: var(--main-background-color);
    color: black;
    padding: 15px;
    display: flex;
    flex-flow:column nowrap ;
    height: 100%;
}

.create-task-input{
    background-color: var(--item-background-color);
    border: none;
    font-size: 1.2rem;
    resize: none;
    font-family: lato, sans-serif;
    margin-bottom: 0.5rem;
}

#create-task-description{
    height: 8rem;
    margin-bottom: auto;
    font-size: 1rem;
}

.create-task-bottom{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.create-task-date{
    display: flex;
    justify-content: left;
    align-items: center;
}

#create-task-date-input{
    height: 1.5rem;
    width: 10rem;
    text-align: center;
    border: 1px solid var(--container-items-color);
    border-radius: 3px;
    color: var(--container-items-color);
}

#create-task-submit{
    height: 1.5rem;
    min-width: 10rem;
    width: 50%;
    text-align: center;
    align-self: center;
    margin: 8px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid var(--container-items-color);
    border-radius: 3px;
    color: var(--container-items-color);
}

#create-task-submit:hover{
    background-color: var(--container-items-color);
    color: white;
}


/* Footer */

footer {
    grid-row: 3; /* Footer takes the third row */
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    font-size: 1rem;
    padding: 12px;
    text-align: center;
    letter-spacing: 0 1rem;
    border-top: black 2px solid;
}





@media (max-width: 930px){

    main{
        flex-direction: column;
        width: 100%;
    }

    #navigation-bar{
        max-width: 100%;
        width: calc(100% - 40px); 
        padding-top: 0;
    }
    
    .sidebar-hidden {
        transform: translateY(-100%); /* Move the sidebar off-screen */
        pointer-events: none;
        opacity: 0;
        height: 0;
    }

    

    #content{
        width: auto;
        min-height: 90vh;
    }

}

@media(max-width: 420px) {
    .create-task-bottom{
        flex-direction: column;
        justify-content: center;
    }
}